.notification
  チャットグループが作成されました。
.chat-side
  .chat-side__user
    .chat-side__user-content
    %a.chat-sider__user
  .chat-side__group
.chat-main
  .chat-main__header
  .chat-main__body
  .chat-main__footer
